/* === VAR ==== */
$fuente: "Poppins";
$fuentebold: "Poppins", sans-serif;
$color-primary: #2FD565;
/* === END VAR === */

*{
	font-family: $fuente;
}
h4.title-contacts{
	font-weight: bold;
	font-size: 23px !important;
}
.errors-insert{
	color: red;
	text-align: left;
	padding-left: 20px;
}